/* Write Your CSS Below 
Colors: 
- rgb(243, 183, 106)
- yellow
- rgb(241, 117, 0)
- red
- rgb(13, 110, 0)
- rgb(109, 0, 251)
- rgb(219, 255, 57)
- rgb(116, 201, 241)
- rgb(251, 64, 64)

Sizes: 
- 100%
- 70%
- auto
- 1.5em
- 3rem
- .5em

Font: 
- Copperplate (You can also use any font that you'd like!)

Images: 
- "https://i.pinimg.com/236x/d6/3f/56/d63f563519df0ece564b82c72e9e306c.jpg"
    - (You may use any image you would like for the background!)
*/
body {
    background-image: url(https://i.pinimg.com/236x/d6/3f/56/d63f563519df0ece564b82c72e9e306c.jpg);
    background-size: 100%;
    background-color: #cccccc;
}

#row1 {
    margin-left: 30%;
    margin-right: 38%;
}

#row1-section2 {
    background-color: lightskyblue;
    color: white;
    border: 3px solid orange;
    border-radius: 25px;
    font-family: 'Courier New', Courier, monospace;
    margin-top: 20px;
}

#row2-section2 {
    background-color: crimson;
    color: white;
    border: 3px solid green;
    margin-left: 50%;
    margin-right: 18%;
    font-family: 'Courier New', Courier, monospace;
    border-radius: 25px;
    margin-top: 20px;
}

#row2-section1 {
    margin-left: 50%;
    box-shadow: 3px;
    margin-top: 20px;
}

h1 {
    color: rgb(149, 77, 182);
    text-align: center;
    background-image: linear-gradient(lightskyblue, red);
    border-radius: 25px;
    margin-left: 30%;
    margin-right: 19%;
    padding: 5px;
}